/* src/components/Header.css */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add horizontal padding */
  background-color: #fff;
}

.logo a {
  text-decoration: none;
  font-size: 1.5em;
  color: #333;
}

.profile-area {
  display: flex;
  align-items: center;
  padding-right: 20px; /* or padding-right: 20px; */
}
