/* src/components/Header.css */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add horizontal padding */
  background-color: #fff;
}

.logo a {
  text-decoration: none;
  font-size: 1.5em;
  color: #333;
}

.profile-area {
  display: flex;
  align-items: center;
  padding-right: 20px; /* or padding-right: 20px; */
}

.login-button, .logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: darkred;
}

.logout-button:hover {
  background-color: darkgray;
}

/* Ensure profile picture and buttons are aligned properly */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between elements */
}

